.page-footer {
   grid-area: footer;
   background-color: rgba(0,0,0,0.9);
   color: white;  
   margin-top: 6em;
   padding: 2em 0;
   font-weight: var(--fw-light);

   p {
      margin: 0.75em 0;
   }

   a:not([class^="link"]) {
      color: white !important;
      text-decoration: underline 2px var(--clr-red) !important;
      text-underline-offset: 0.1em;
      transition: background-color 300ms, 
      text-decoration-color 300ms !important;

      &:hover, &:focus {
         text-decoration-color: transparent !important;
      }
   }

   [class^="link"] {
      font-weight: 400;
   }

   ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      
      li {
         margin-right: 0.5em;
      }      
   }
}