body {
   display: grid;
   grid-template-areas: "header header" "nav nav" "main main" "styles profile" "footer footer";
   grid-template-columns: 1fr 1fr;
   font-family: var(--ff-base);
   background-color: var(--clr-lighter);
   color: var(--clr-darker);
   font-size: var(--fs-base);
}

header > .container, 
main > .container,
footer:not(#files) > .container,
#styles > .container {
   max-width: 56rem;
   padding: 0 1.5rem;
   margin: 0 auto;
}

a:not([class^="link"]) {
   color: var(--clr-red);
   text-decoration: none;
   font-weight: var(--fw-medium);
   transition: color 300ms, background-color 300ms;
   padding: 0 0.2em;

   &:hover, &:focus {
      color: var(--clr-white);
      background-color: var(--clr-blue);
   }
}

h1, h2, h3, h4 {
   font-family: var(--ff-headers);
}

h1 {
   font-size: var(--fs-h1);
   line-height: 1.2;
}

h2 {
   font-size: var(--fs-h2-main);
   line-height: 1.2;
}

h3 {
   font-size: var(--fs-h3);
}

h4 {
   font-size: var(--fs-h4);
}

[class^="link"] {
   text-decoration: none;
   color: var(--clr-white);
   background-color: var(--clr-blue);
   display: inline-block;
   padding: 0.5em 1.5em;
   margin: 1em 0;
   transition: background-color 300ms;

   svg {
      fill: white;
      margin-right: 0.5em;
      width: 1.5rem;
      vertical-align: top;
   }

   &:hover, &:focus {
      background-color: var(--clr-red);                  
   }
}

