body {
   display: grid;
   grid-template-areas: "header header" "nav nav" "main main" "styles profile" "footer footer";
   grid-template-columns: 1fr 1fr;
   font-family: var(--ff-base);
   background-color: var(--clr-lighter);
   color: var(--clr-darker);
   font-size: var(--fs-base);

   @media screen and (max-width: 50rem) {
      display: block;
   }
}

header > .container, 
main > .container,
.page-footer > .container,
#styles > .container {
   max-width: 56rem;
   padding: 0 1.5rem;
   margin: 0 auto;
}

h1, h2, h3, h4 {
   font-family: var(--ff-headers);
}

h1 {
   font-size: var(--fs-h1);
   line-height: 1.2;
}

h2 {
   font-size: var(--fs-h2-main);
   line-height: 1.2;
}

h3 {
   font-size: var(--fs-h3);
}

h4 {
   font-size: var(--fs-h4);
}

