body {
   font-family: var(--ff-base);
   background-color: var(--clr-lighter);
   color: var(--clr-darker);
   font-size: var(--fs-base);
}

header > .container, 
main > .container,
footer > .container {
   max-width: 56rem;
   padding: 0 1.5rem;
   margin: 0 auto;
}

h1, h2, h3, h4 {
   font-family: var(--ff-headers);
}

h1 {
   font-size: var(--fs-h1);
}

h2 {
   font-size: var(--fs-h2);
}

h3 {
   font-size: var(--fs-h3);
}

h4 {
   font-size: var(--fs-h4);
}

svg {
   width: 2rem; // temporary
}

