a:not([class^="link"]) {
   color: var(--clr-red);
   text-decoration: none;
   font-weight: var(--fw-medium);
   transition: color 300ms, background-color 300ms;
   padding: 0 0.2em;

   &:hover, &:focus {
      color: var(--clr-white);
      background-color: var(--clr-blue);
      text-decoration-color: transparent !important;
   }
}

header, .page-footer, .profile {
   a:not([class^="link"]) {
      color: var(--clr-white);
      text-decoration: underline 2px var(--clr-red);
      text-underline-offset: 0.1em;
      transition: background-color 300ms, 
      text-decoration-color 300ms;
   }
}

[class^="link"], .profile .container > a {
   text-decoration: none;
   color: var(--clr-white);
   background-color: var(--clr-blue);
   display: inline-block;
   padding: 0.5em 1.5em;
   margin-top: 1em;
   transition: background-color 300ms;

   svg {
      fill: white;
      margin-right: 0.5em;
      width: 1.5rem;
      vertical-align: top;
   }

   &:hover, &:focus {
      background-color: var(--clr-red);                  
   }
}