main {
   padding-bottom: 10rem; //temporary

   h2 {
      margin: 3em 0 1em;
      padding-left: 0.5em;
      position: relative;

      &:before {
         content: '';
         position: absolute;
         width: 2em;
         height: 2em;
         top: -0.5em;
         left: 0;
         z-index: -1;
         background-image: 
         repeating-linear-gradient(45deg, 
         #d8c1a9,
         #d8c1a9 5px, 
         transparent 5px, 
         transparent 20px);
      }
   }

   p {
      margin: 0.75em 0;
      line-height: 1.6;
   }

   blockquote {
      border-left: 5px solid var(--clr-darker);
      margin: 2em 0;
      padding: 0.5em 2em;
      font-style: italic;
      font-size: var(--fs-bq);
   }

   ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
         margin: 0.4em;
         padding: 0.2em 0.5em;
         background-color: var(--clr-darker);
         color: var(--clr-white);
      }
   }

   ol {
      list-style-type: none;
      padding: 0;

      li {
         counter-increment: step-counter;
         position: relative;
         padding-left: 2.5em;
         margin: 1.5em 0;
      }

      li::before {
         content: counter(step-counter);
         position: absolute;
         left: 0;
         background-color: var(--clr-darker);
         color: white;
         width: 1.5rem;
         height: 1.5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: var(--fs-ol);
      }
   }
}