nav {
   margin: 3em 0 5em;
   position: relative;

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      row-gap: 1.5em;
      justify-content: center;

      li a {
         margin: 1em 1.35em;
         padding: 0.4em !important;
         text-decoration: none;
         font-weight: var(--fw-medium);
         text-transform: uppercase;
      }
   }
}

