.profile {
   position: absolute;
   top: calc(100vh + 0.5em);
   right: 0.5em;
   color: var(--clr-white);
   font-weight: var(--fw-light);

   .container {
      width: 18em;
      padding: 1em;
      background-color: rgba(0,0,0,0.9);
   }

   ul {
      list-style-type: none;
      padding: 0;

      li {
         display: flex;
         padding: 0.25em 0;
   
         span:nth-child(1) {
           width: 8ch;
           margin-right: 0.25em;
         }
       }
   }

   @media screen and (max-width: 110em) {
      grid-area: profile;
      position: static;
      padding-right: 1.5rem;

      .container {
         padding: 2em;
         width: 24rem;
         margin-left: 0;
         margin-right: auto;
         margin-top: 7.5rem;
      }
   }
}