.profile {
   position: absolute;
   top: calc(100vh + 0.5em);
   right: 0.5em;
   color: var(--clr-white);
   font-weight: var(--fw-light);

   .container {
      width: 18em;
      padding: 1em;
      background-color: rgba(0,0,0,0.9);
   }

   ul {
      list-style-type: none;
      padding: 0;

      li {
         display: flex;
         padding: 0.25em 0;
   
         span:nth-child(1) {
           width: 8ch;
           margin-right: 0.25em;
         }
       }
   }

   @media screen and (max-width: 110rem) {
      grid-area: profile;
      position: static;   
      padding: 1.5rem;  

      .container {
         padding: 2em;
         max-width: 25rem;
         width: auto;
         margin-left: 0;
         margin-right: auto;
         margin-top: 7.5rem;         
      }
   }

   @media screen and (max-width: 50rem) {
     margin-top: 5em;
     width: 100vw;

      .container {
         margin: 0 auto;
      }
   }
}