.skip-link {
   position: absolute;
   left: -10000px;
   padding: 0.4em 1em !important;
   font-weight: 400 !important;
   overflow: hidden;

   &:focus {
      position: fixed;
      top: 0.5em;
      left: 0.5em;
   }

   &:hover {
      background-color: var(--clr-red) !important;
   }
}