#styles {
   .container {
      margin-right: 0;
      margin-left: auto;
      margin-top: 9rem;
      max-width: 28rem;
   }

   h2 {
      grid-area: styles;
      margin-bottom: 1em;
      padding-left: 0.5em;
      position: relative;

      &:before {
         content: '';
         position: absolute;
         width: 2em;
         height: 2em;
         top: -0.5em;
         left: 0;
         z-index: -1;
         background-image: 
         repeating-linear-gradient(45deg, 
         #d8c1a9,
         #d8c1a9 5px, 
         transparent 5px, 
         transparent 20px);
      }
   }
   
   ul {
      list-style-type: none;
      padding: 0;

      li {
         margin: 0.5em 0;
      }
   }

   @media screen and (max-width: 50rem) {
      .container {
         margin: 5em auto 0;
         padding: 1.5rem;
      }
   }
}