@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --clr-darker: #261712; 
   --clr-dark: #8C6D51;
   --clr-light: #BF9A78;
   --clr-lighter: #e9dbcd;
   --clr-red: #b6382c;
   --clr-blue: #456A82;
   --clr-white: #fff;
   --clr-black-transparent: rgba(0,0,0,0.9);

   --ff-headers: 'Lora', serif;
   --ff-base: 'Roboto', sans-serif;

   --fs-h1: 6rem;
   --fs-h2-main: 3rem;
   --fs-h2-header: 2rem;
   --fs-h3: 2rem;
   --fs-h4: 1.35rem;
   --fs-base: 1.15rem;
   --fs-bq: 1.5rem;
   --fs-ol: 0.8rem;

   --fw-light: 300;
   --fw-regular: 400;
   --fw-medium: 500;
}