/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-darker: #261712;
  --clr-dark: #8C6D51;
  --clr-light: #BF9A78;
  --clr-lighter: #e9dbcd;
  --clr-red: #b6382c;
  --clr-blue: #304C5F;
  --clr-white: #fff;
  --clr-black: #000;
  --ff-headers: "Lora", serif;
  --ff-base: "Roboto", sans-serif;
  --fs-h1: 6rem;
  --fs-h2-main: 3rem;
  --fs-h2-header: 2rem;
  --fs-h3: 2rem;
  --fs-h4: 1.35rem;
  --fs-base: 1.15rem;
  --fs-bq: 1.5rem;
  --fs-ol: 0.8rem;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  background-color: var(--clr-lighter);
  color: var(--clr-darker);
  font-size: var(--fs-base);
}

header > .container,
main > .container,
footer:not(#files) > .container {
  max-width: 56rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

a:not([class^=link]) {
  color: var(--clr-red);
  text-decoration: none;
  font-weight: var(--fw-medium);
  transition: color 300ms, background-color 300ms;
  padding: 0 0.2em;
}
a:not([class^=link]):hover, a:not([class^=link]):focus {
  color: var(--clr-white);
  background-color: var(--clr-blue);
}

h1, h2, h3, h4 {
  font-family: var(--ff-headers);
}

h1 {
  font-size: var(--fs-h1);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-h2-main);
  line-height: 1.2;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

[class^=link] {
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-blue);
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 1em 0;
  transition: background-color 300ms;
}
[class^=link] svg {
  fill: white;
  margin-right: 0.5em;
  width: 1.5rem;
  vertical-align: top;
}
[class^=link]:hover, [class^=link]:focus {
  background-color: var(--clr-red);
}

header {
  background-image: url(../images/old-letters-436501_1920.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  padding: 5em 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--clr-white);
}
header h1 {
  position: relative;
  padding-bottom: 0.5em;
}
header h1::after {
  content: "";
  height: 3px;
  width: 5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-white);
}
header h2 {
  font-size: var(--fs-h2-header);
  padding: 1em 0;
}
header p {
  font-style: italic;
  font-weight: var(--fw-light);
  margin-bottom: 1em;
}

main {
  padding-bottom: 10rem;
}
main h2 {
  margin: 1.25em 0 0.5em;
}
main p {
  margin: 0.75em 0;
  line-height: 1.6;
}
main blockquote {
  border-left: 5px solid var(--clr-darker);
  margin: 2em 0;
  padding: 0.5em 2em;
  font-style: italic;
  font-size: var(--fs-bq);
}
main ol {
  list-style-type: none;
  padding: 0;
}
main ol li {
  counter-increment: step-counter;
  position: relative;
  padding-left: 2.5em;
  margin: 1.5em 0;
}
main ol li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  background-color: var(--clr-darker);
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-ol);
}
